.DS_Store
/practica2_POO/JavaApplication1/nbproject/private/
/practica2_POO/build/
/practica2_POO/dist/
/practica3_POO/nbproject/private/
/practica3_POO/build/
/practica3_POO/dist/
/P2_158710_183711/practica3_POO/build/
/P2_158710_183711/practica3_POO/dist
/P2_158710_183711/practica3_POO/nbproject/private
/practica4_POO/nbproject/private/
/practica4_POO/build/